# Logs
logs
*.log

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.local
